<div class="main-container">
      <div class="setting-wrapper">
        <div class="settings-header">
            <div class="settings-banner imageFit">
                <img src="assets/images/admin-banner.jpg" alt="">
            </div>
            <div class="change-banner-btn"><span>Change Banner</span> <i class="fa fa-camera"></i></div>
            <div class="admin-thumb imageFit">
              <img src="assets/images/user-06.jpg" alt="">
              <span class="change-thumb-btn"><i class="fa fa-camera"></i> Update Picture</span>
            </div>
            <h3 class="adn">Cristina Griffith</h3>
        </div>
   		  <div class="container">
        	<div class="page-wrapper clearfix">
                <div class="left-sidebar">
                    <div class="setting-nav">
                        <h6>My Account</h6>
                        <ul>
                            <li class="active"><a href="general-settings.html"><i class="fa fa-cog"></i> General Settings</a></li>
                            <li><a href="change-password.html"><i class="fa fa-key"></i> Change Password</a></li>
                            <li><a href="social-accounts.html"><i class="fa fa-share-alt"></i> Social Accounts</a></li>
                            <li><a href="email-noti.html"><i class="fa fa-envelope"></i> Email Notifications</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.left-sidebar-->
            	<div class="body-content">              
                    <div class="setting-cont">
                        <h3 class="main-heading">General Settings</h3>
                        <div class="pref">
                          <h4 class="sub-heading">Personal Preferences</h4>
                          <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>Mature Content Filter <small class="light-txt">(Hide any questionable or suggestive wallpapers)</small></span></label>
                          </p>
                          <p>
                            <label class="info-check noselect"><input type="checkbox"> <span>Invisible Mode <small class="light-txt">(If enabled, you will not show up in the "Members Online" list)</small></span></label>
                          </p>
                          <p>
                            <label class="info-check noselect"><input type="checkbox"> <span>Hide Thumbnail Info <small class="light-txt">(If enabled, this will not show the information popup when your mouse hovers over certain thumbnails)</small></span></label></p>
                          <div class="form-inline">
                            <div class="form-group">
                              <label>Wallpaper Download Resolution:</label>
                              <select class="form-control">
                                <option>Auto-Detect (Default)</option>
                              </select>
                            </div>
                          </div>
                          <br>
                          <button type="button" class="btn btn-success">Save Changes</button>
                        </div>
                        <hr>
                        <div class="member-ignore">
                          <h4 class="sub-heading">Member Ignore List</h4>
                          <div class="form-inline">
                            <div class="form-group">
                              <label>Add a member to your ignore list:</label>
                              <input type="text" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                          <div class="ignore-info">
                            <p>Anyone you add to your ignore list will not be able to send you Private Messages, nor comment on any of your wallpapers or your profile.</p>
                          </div>
                        </div>
                    </div>
                </div>
                <!--/.body-content-->
                
            </div>
        </div>
      </div>
      <!-- /.setting-wrapper -->
    </div>
    <!--/.main-container-->