    <div class="main-container">
        
   		<div class="container">
        	<div class="page-wrapper clearfix">
            	<div class="body-content">
                    <div class="noti-drop noti-page">
                        <div class="noti-heading">Your Notifications</div>
                        <a href="#" class="mark-read fcb">Mark All As Read</a>
                        <div class="noti-messages">
                            <ul>
                                <li class="type-user">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/user-02.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Jessica Flower</span> is now following you</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-chat unread-msg">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/wallpaper-14.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Matt Demon</span> left a comment on your <span class="fcb">Baby</span> wallpaper</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-fav">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/wallpaper-07.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Ariana Diamond</span> fovourite on your <span class="fcb">Baby</span> wallpaper</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-users">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/christmas-wallpaper.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Peter Parker</span> following on your <span class="fcb">Digital Art/Abstract</span> group</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-reply unread-msg">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/profile-thumb.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Julia Anderson</span> reply on your comment</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-user unread-msg">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/user-02.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Jessica Flower</span> is now following you</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-user">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/user-02.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Jessica Flower</span> is now following you</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-chat">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/wallpaper-14.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Matt Demon</span> left a comment on your <span class="fcb">Baby</span> wallpaper</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-fav">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/wallpaper-07.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Ariana Diamond</span> fovourite on your <span class="fcb">Baby</span> wallpaper</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-chat unread-msg">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/wallpaper-14.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Matt Demon</span> left a comment on your <span class="fcb">Baby</span> wallpaper</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="type-users">
                                    <a href="#">
                                        <div class="noti-content clearfix">
                                            <div class="noti-thumb">
                                                <img src="assets/images/christmas-wallpaper.jpg" alt="">
                                            </div>
                                            <div class="noti-header"><span class="fcb">Peter Parker</span> following on your <span class="fcb">Digital Art/Abstract</span> group</div>
                                            <div class="noti-time">20 minutes ago</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="noti-footer">
                            <span class="more-loading"></span>
                        </div>
                    </div>
                </div>
                <!--/.body-content-->
                <div class="right-sidebar">
                    <div class="widget">
                    	<div class="poster-block poster-300x600">
                        	<a href="#" target="_blank"><img src="assets/images/poster-sidebar-02.jpg" alt=""></a>
                        </div>
                    </div>
        
                </div>
                <!--/.right-sidebar-->
            </div>
        </div>
    </div>
    <!--/.main-container-->