    <div class="main-container">
   		<div class="container">
        	<div class="page-wrapper clearfix">
            	<div class="body-content">
                    <div class="contact-wrap">
                        <div class="row">
                            <div class="col-sm-7">
                                <h3>Get in Touch</h3>
                                <p class="lead">If you have questions or comments regarding:</p>
                                <div class="contact-form">
                                    <form>
                                        <div class="masg-box">
                                            <textarea class="form-control" placeholder="Write your message here."></textarea>
                                        </div>
                                        <div class="name-row clearfix">
                                            <div class="name-box">
                                                <input type="text" class="form-control" placeholder="Full Name">
                                            </div>
                                            <div class="email-box">
                                                <input type="email" class="form-control" placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="submit-row clearfix">
                                            <div class="captcha-box">
                                                <img src="assets/images/contact-captcha.png" alt="" class="img-rasponsive">
                                            </div>
                                            <div class="submit-box">
                                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="email-contact">
                                    <h3><i class="fa fa-envelope-o"></i> Or by Email</h3>
                                    <ul class="clearfix">
                                        <li>
                                            <p><strong>For advertising inquiries:</strong></p>
                                            <a href="mailto: advertising@maugans.com">advertising@maugans.com</a>
                                        </li>
                                        <li>
                                            <p><strong>For partnership inquiries:</strong></p>
                                            <a href="mailto: partners@maugans.com">partners@maugans.com</a>
                                        </li>
                                        <li>
                                            <p><strong>For support or technical inquiries:</strong></p>
                                            <a href="mailto: support@maugans.com">support@maugans.com</a>
                                        </li>
                                        <li>
                                            <p><strong>For press inquiries:</strong></p>
                                            <a href="mailto: press@maugans.com">press@maugans.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="spacing">
                                    <div class="map-dot">
                                      <span class="point">
                                        <span class="pulse"></span>
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.body-content-->
            </div>
        </div>
    </div>
    <!--/.main-container-->