     <div class="main-container">
        <div class="gallery-header">
            <div class="gal-banner imageFit">
                <img src="assets/images/profile-banner.jpg" alt="">
            </div>
            <div class="gal-banner-txt">
                <div class="container">
                    <div class="heading-left">
                        <h3>Gallery</h3>
                        <p class="divide-top">Browse Our Wallpaper Galleries</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.group-header-->
        

   		<div class="container">
        	<div class="page-wrapper clearfix">
            	<div class="body-content">
                    <div class="gallery-grids">
                        <div class="grid clearfix">
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-abstract.jpg" alt="">
                                            <span class="grid-title">Abstract</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">3D and CG</a></li>
                                            <li><a href="#">Collages</a></li>
                                            <li><a href="#">Fantasy</a></li>
                                            <li><a href="#">Fireworks</a></li>
                                            <li><a href="#">Graffiti</a></li>
                                            <li><a href="#">Mind Teasers</a></li>
                                            <li><a href="#">Photography</a></li>
                                            <li><a href="#">Textures</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-aircraft.jpg" alt="">
                                            <span class="grid-title">Aircraft</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Airfields</a></li>
                                            <li><a href="#">Antique</a></li>
                                            <li><a href="#">Blimps</a></li>
                                            <li><a href="#">Commercial</a></li>
                                            <li><a href="#">Concepts</a></li>
                                            <li><a href="#">Gliders</a></li>
                                            <li><a href="#">Helicopters</a></li>
                                            <li><a href="#">Hot Air Balloons</a></li>
                                            <li><a href="#">Military</a></li>
                                            <li><a href="#">Missiles</a></li>
                                            <li><a href="#">Private Planes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-animals.jpg" alt="">
                                            <span class="grid-title">Animals</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Bears</a></li>
                                            <li><a href="#">Birds</a></li>
                                            <li><a href="#">Butterflies</a></li>
                                            <li><a href="#">Cats</a></li>
                                            <li><a href="#">Cows</a></li>
                                            <li><a href="#">Deer</a></li>
                                            <li><a href="#">Dinosaurs</a></li>
                                            <li><a href="#">Dogs</a></li>
                                            <li><a href="#">Dolphins</a></li>
                                            <li><a href="#">Ducks</a></li>
                                            <li><a href="#">Elephants</a></li>
                                            <li><a href="#">Fish</a></li>
                                            <li><a href="#">Frogs</a></li>
                                            <li><a href="#">Giraffes</a></li>
                                            <li><a href="#">Horses</a></li>
                                            <li><a href="#">Kangaroos</a></li>
                                            <li><a href="#">Primates</a></li>
                                            <li><a href="#">Reptiles</a></li>
                                            <li><a href="#">Rodents</a></li>
                                            <li><a href="#">Sharks</a></li>
                                            <li><a href="#">Sheep</a></li>
                                            <li><a href="#">Squirrels</a></li>
                                            <li><a href="#">Whales</a></li>
                                            <li><a href="#">Zebras</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-anime.jpg" alt="">
                                            <span class="grid-title">Anime</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Ah My Goddess</a></li>
                                            <li><a href="#">Akira</a></li>
                                            <li><a href="#">Appleseed</a></li>
                                            <li><a href="#">Azumanga</a></li>
                                            <li><a href="#">Beck</a></li>
                                            <li><a href="#">Berserk</a></li>
                                            <li><a href="#">Bleach</a></li>
                                            <li><a href="#">Boogiepop</a></li>
                                            <li><a href="#">Bubblegum</a></li>
                                            <li><a href="#">Crisis</a></li>
                                            <li><a href="#">Burst Angel</a></li>
                                            <li><a href="#">Card Captor Sakura</a></li>
                                            <li><a href="#">Chobits</a></li>
                                            <li><a href="#">Chrono Crusade</a></li>
                                            <li><a href="#">Cowboy</a></li>
                                            <li><a href="#">Bebop</a></li>
                                            <li><a href="#">Dead or Alive</a></li>
                                            <li><a href="#">Digimon</a></li>
                                            <li><a href="#">DNA</a></li>
                                            <li><a href="#">Dragonball</a></li>
                                            <li><a href="#">Escaflowne</a></li>
                                            <li><a href="#">Evangelion</a></li>
                                            <li><a href="#">Excel Saga</a></li>
                                            <li><a href="#">Fate Stay Night</a></li>
                                            <li><a href="#">Final Fantasy</a></li>
                                            <li><a href="#">FLCL</a></li>
                                            <li><a href="#">Fruits Basket</a></li>
                                            <li><a href="#">Full Metal Alchemist</a></li>
                                            <li><a href="#">Full Metal Panic</a></li>
                                            <li><a href="#">Galaxy Angel</a></li>
                                            <li><a href="#">Gantz</a></li>
                                            <li><a href="#">Get Backers</a></li>
                                            <li><a href="#">Ghost in the Shell</a></li>
                                            <li><a href="#">Gundam Seed</a></li>
                                            <li><a href="#">Gundam Wing</a></li>
                                            <li><a href="#">Gunslinger Girl</a></li>
                                            <li><a href="#">Hack Sign</a></li>
                                            <li><a href="#">Haibane Renmei</a></li>
                                            <li><a href="#">Hamtaro</a></li>
                                            <li><a href="#">Hello Kitty</a></li>
                                            <li><a href="#">Hellsing</a></li>
                                            <li><a href="#">Howls Moving Castle</a></li>
                                            <li><a href="#">Hyper Police</a></li>
                                            <li><a href="#">Initial D</a></li>
                                            <li><a href="#">Inuyasha</a></li>
                                            <li><a href="#">Kanon</a></li>
                                            <li><a href="#">Kiddy Grade</a></li>
                                            <li><a href="#">Kimi ga Nozomu Eien</a></li>
                                            <li><a href="#">King of Bandit</a></li>
                                            <li><a href="#">Lain</a></li>
                                            <li><a href="#">Last Exile</a></li>
                                            <li><a href="#">Loki Ragnarok</a></li>
                                            <li><a href="#">Love Hina</a></li>
                                            <li><a href="#">Macross</a></li>
                                            <li><a href="#">Mars</a></li>
                                            <li><a href="#">My Neighbor Totoro</a></li>
                                            <li><a href="#">Naruto</a></li>
                                            <li><a href="#">Ninja Scroll</a></li>
                                            <li><a href="#">Noir</a></li>
                                            <li><a href="#">Onegai Teacher</a></li>
                                            <li><a href="#">Onegai Twins</a></li>
                                            <li><a href="#">Outlaw Star</a></li>
                                            <li><a href="#">Paranoia Agent</a></li>
                                            <li><a href="#">Pokemon</a></li>
                                            <li><a href="#">Rahxephon</a></li>
                                            <li><a href="#">Ranma</a></li>
                                            <li><a href="#">Read or Die</a></li>
                                            <li><a href="#">Robotech</a></li>
                                            <li><a href="#">Rurouni Kenshin</a></li>
                                            <li><a href="#">Sailor Moon</a></li>
                                            <li><a href="#">Scrapped Princess</a></li>
                                            <li><a href="#">Slayers</a></li>
                                            <li><a href="#">Spirited Away</a></li>
                                            <li><a href="#">Tekken</a></li>
                                            <li><a href="#">Trigun</a></li>
                                            <li><a href="#">Tsubasa</a></li>
                                            <li><a href="#">Tsukihime</a></li>
                                            <li><a href="#">Vampire Hunter D</a></li>
                                            <li><a href="#">Vandread</a></li>
                                            <li><a href="#">War of Genesis III</a></li>
                                            <li><a href="#">Witch Hunter Robin</a></li>
                                            <li><a href="#">Wonderful Days</a></li>
                                            <li><a href="#">Yu Gi Oh</a></li>
                                            <li><a href="#">Zoids</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-architecture.jpg" alt="">
                                            <span class="grid-title">Architecture</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Amusement Parks</a></li>
                                            <li><a href="#">Ancient</a></li>
                                            <li><a href="#">Bridges</a></li>
                                            <li><a href="#">Farms</a></li>
                                            <li><a href="#">Houses</a></li>
                                            <li><a href="#">Lighthouses</a></li>
                                            <li><a href="#">Medieval</a></li>
                                            <li><a href="#">Modern</a></li>
                                            <li><a href="#">Monuments</a></li>
                                            <li><a href="#">Religious</a></li>
                                            <li><a href="#">Skyscrapers</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-boats.jpg" alt="">
                                            <span class="grid-title">Boats</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Commercial</a></li>
                                            <li><a href="#">Competition</a></li>
                                            <li><a href="#">Cruise</a></li>
                                            <li><a href="#">Ships</a></li>
                                            <li><a href="#">Fan Boats</a></li>
                                            <li><a href="#">Ferryboats</a></li>
                                            <li><a href="#">Human Powered</a></li>
                                            <li><a href="#">Inflatables</a></li>
                                            <li><a href="#">Military</a></li>
                                            <li><a href="#">New Age</a></li>
                                            <li><a href="#">Personal Boats</a></li>
                                            <li><a href="#">Inflatables</a></li>
                                            <li><a href="#">Powerboats</a></li>
                                            <li><a href="#">Sailboats</a></li>
                                            <li><a href="#">Ship Wrecks</a></li>
                                            <li><a href="#">Submarines</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-cars.jpg" alt="">
                                            <span class="grid-title">Cars</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Acura</a></li>
                                            <li><a href="#">Alfa</a></li>
                                            <li><a href="#">Romeo</a></li>
                                            <li><a href="#">Ascari</a></li>
                                            <li><a href="#">Aston</a></li>
                                            <li><a href="#">Martin</a></li>
                                            <li><a href="#">Audi</a></li>
                                            <li><a href="#">Bentley</a></li>
                                            <li><a href="#">Bugatti</a></li>
                                            <li><a href="#">Buick</a></li>
                                            <li><a href="#">BMW</a></li>
                                            <li><a href="#">Cadillac</a></li>
                                            <li><a href="#">Chevrolet</a></li>
                                            <li><a href="#">Chrysler</a></li>
                                            <li><a href="#">Citroen</a></li>
                                            <li><a href="#">Digital Art</a></li>
                                            <li><a href="#">Dodge</a></li>
                                            <li><a href="#">Ferrari</a></li>
                                            <li><a href="#">Fiat</a></li>
                                            <li><a href="#">Ford</a></li>
                                            <li><a href="#">Girls and Cars</a></li>
                                            <li><a href="#">GMC</a></li>
                                            <li><a href="#">Honda</a></li>
                                            <li><a href="#">Hummer</a></li>
                                            <li><a href="#">Hyundai</a></li>
                                            <li><a href="#">Infiniti</a></li>
                                            <li><a href="#">Jaguar</a></li>
                                            <li><a href="#">Jeep</a></li>
                                            <li><a href="#">Kia</a></li>
                                            <li><a href="#">Koenigsegg</a></li>
                                            <li><a href="#">KTM</a></li>
                                            <li><a href="#">Lamborghini</a></li>
                                            <li><a href="#">Land Rover</a></li>
                                            <li><a href="#">Lexus</a></li>
                                            <li><a href="#">Lincoln</a></li>
                                            <li><a href="#">Lotus</a></li>
                                            <li><a href="#">Maserati</a></li>
                                            <li><a href="#">Mazda</a></li>
                                            <li><a href="#">McLaren</a></li>
                                            <li><a href="#">Mercedes</a></li>
                                            <li><a href="#">Mini Cooper</a></li>
                                            <li><a href="#">Mitsubishi</a></li>
                                            <li><a href="#">Nissan</a></li>
                                            <li><a href="#">Oldsmobile</a></li>
                                            <li><a href="#">Peugeot</a></li>
                                            <li><a href="#">Plymouth</a></li>
                                            <li><a href="#">Pontiac</a></li>
                                            <li><a href="#">Porsche</a></li>
                                            <li><a href="#">Renault</a></li>
                                            <li><a href="#">Rolls Royce</a></li>
                                            <li><a href="#">Saab</a></li>
                                            <li><a href="#">Saturn</a></li>
                                            <li><a href="#">Scion</a></li>
                                            <li><a href="#">Smart</a></li>
                                            <li><a href="#">Spyker</a></li>
                                            <li><a href="#">Subaru</a></li>
                                            <li><a href="#">Suzuki</a></li>
                                            <li><a href="#">TVR</a></li>
                                            <li><a href="#">Toyota</a></li>
                                            <li><a href="#">Volkswagen</a></li>
                                            <li><a href="#">Volvo</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-entertainment.jpg" alt="">
                                            <span class="grid-title">Entertainment</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Bollywood</a></li>
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Funny</a></li>
                                            <li><a href="#">Movies</a></li>
                                            <li><a href="#">Music</a></li>
                                            <li><a href="#">Theater</a></li>
                                            <li><a href="#">TV Series</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-motorcycles.jpg" alt="">
                                            <span class="grid-title">Motorcycles</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Aprilia</a></li>
                                            <li><a href="#">BMW</a></li>
                                            <li><a href="#">Buell</a></li>
                                            <li><a href="#">Ducati</a></li>
                                            <li><a href="#">Harley Davidson</a></li>
                                            <li><a href="#">Honda</a></li>
                                            <li><a href="#">Indian</a></li>
                                            <li><a href="#">Kawasaki</a></li>
                                            <li><a href="#">KTM</a></li>
                                            <li><a href="#">Moto Guzzi</a></li>
                                            <li><a href="#">MV Augusta</a></li>
                                            <li><a href="#">Suzuki</a></li>
                                            <li><a href="#">Triumph</a></li>
                                            <li><a href="#">Victory</a></li>
                                            <li><a href="#">Yamaha</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-nature.jpg" alt="">
                                            <span class="grid-title">Nature</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Beaches</a></li>
                                            <li><a href="#">Bugs</a></li>
                                            <li><a href="#">Canyons</a></li>
                                            <li><a href="#">Coral Reefs</a></li>
                                            <li><a href="#">Deserts</a></li>
                                            <li><a href="#">Fields</a></li>
                                            <li><a href="#">Flowers</a></li>
                                            <li><a href="#">Forces of Nature</a></li>
                                            <li><a href="#">Forests</a></li>
                                            <li><a href="#">Grass</a></li>
                                            <li><a href="#">Greenroofs</a></li>
                                            <li><a href="#">Lakes</a></li>
                                            <li><a href="#">Mountains</a></li>
                                            <li><a href="#">Oceans</a></li>
                                            <li><a href="#">Rainbows</a></li>
                                            <li><a href="#">Rivers</a></li>
                                            <li><a href="#">Sky</a></li>
                                            <li><a href="#">Sunsets</a></li>
                                            <li><a href="#">Waterfalls</a></li>
                                            <li><a href="#">Winter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-people.jpg" alt="">
                                            <span class="grid-title">People</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Actors</a></li>
                                            <li><a href="#">Actresses</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Models Female</a></li>
                                            <li><a href="#">Models Male</a></li>
                                            <li><a href="#">Political</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-space.jpg" alt="">
                                            <span class="grid-title">Space</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Galaxies</a></li>
                                            <li><a href="#">Moons</a></li>
                                            <li><a href="#">People</a></li>
                                            <li><a href="#">Planets</a></li>
                                            <li><a href="#">Rockets</a></li>
                                            <li><a href="#">Stars</a></li>
                                            <li><a href="#">Satellites</a></li>
                                            <li><a href="#">Shuttles</a></li>
                                            <li><a href="#">Space Stations</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-sports.jpg" alt="">
                                            <span class="grid-title">Sports</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Auto Racing</a></li>
                                            <li><a href="#">Baseball</a></li>
                                            <li><a href="#">Basketball</a></li>
                                            <li><a href="#">Biking</a></li>
                                            <li><a href="#">Boxing</a></li>
                                            <li><a href="#">Cheerleading</a></li>
                                            <li><a href="#">Dance</a></li>
                                            <li><a href="#">Equestrian</a></li>
                                            <li><a href="#">Fishing</a></li>
                                            <li><a href="#">Football</a></li>
                                            <li><a href="#">Golf</a></li>
                                            <li><a href="#">Hockey</a></li>
                                            <li><a href="#">Hunting</a></li>
                                            <li><a href="#">Ice Skating</a></li>
                                            <li><a href="#">Lacrosse</a></li>
                                            <li><a href="#">Martial Arts</a></li>
                                            <li><a href="#">Polo</a></li>
                                            <li><a href="#">Skateboarding</a></li>
                                            <li><a href="#">Skiing</a></li>
                                            <li><a href="#">Skydiving</a></li>
                                            <li><a href="#">Snowboarding</a></li>
                                            <li><a href="#">Soccer</a></li>
                                            <li><a href="#">Swimming</a></li>
                                            <li><a href="#">Roller Blading</a></li>
                                            <li><a href="#">Rugby</a></li>
                                            <li><a href="#">Tennis</a></li>
                                            <li><a href="#">Track</a></li>
                                            <li><a href="#">Water Sports</a></li>
                                            <li><a href="#">Weight Lifting</a></li>
                                            <li><a href="#">Wrestling</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-technology.jpg" alt="">
                                            <span class="grid-title">Technology</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">AMD</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">ATI</a></li>
                                            <li><a href="#">Cell Phones</a></li>
                                            <li><a href="#">Firefox</a></li>
                                            <li><a href="#">Gnome</a></li>
                                            <li><a href="#">Intel</a></li>
                                            <li><a href="#">KDE</a></li>
                                            <li><a href="#">Keyboards</a></li>
                                            <li><a href="#">Laptops</a></li>
                                            <li><a href="#">Linux</a></li>
                                            <li><a href="#">NVidia</a></li>
                                            <li><a href="#">PDAs</a></li>
                                            <li><a href="#">Servers</a></li>
                                            <li><a href="#">Unix</a></li>
                                            <li><a href="#">Windows</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                            <div class="grid-item">
                                <div class="grid-block">
                                    <div class="grid-thumb-outer">
                                        <div class="grid-thumb imageFit">
                                          <a href="#">
                                            <img src="assets/images/gallery-videogames.jpg" alt="">
                                            <span class="grid-title">Video Games</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="gallery-links">
                                        <ul>
                                            <li><a href="#">Age of Conan</a></li>
                                            <li><a href="#">Bioshock</a></li>
                                            <li><a href="#">Castlevania</a></li>
                                            <li><a href="#">Classic Arcade Games</a></li>
                                            <li><a href="#">Command and Conquer</a></li>
                                            <li><a href="#">Commandos</a></li>
                                            <li><a href="#">Counter Strike</a></li>
                                            <li><a href="#">Crazy Taxi</a></li>
                                            <li><a href="#">Crysis</a></li>
                                            <li><a href="#">Deus Ex</a></li>
                                            <li><a href="#">Doom</a></li>
                                            <li><a href="#">Everquest</a></li>
                                            <li><a href="#">Final Fantasy</a></li>
                                            <li><a href="#">Gears of War</a></li>
                                            <li><a href="#">God of War</a></li>
                                            <li><a href="#">Gran Turismo</a></li>
                                            <li><a href="#">Grand Theft Auto</a></li>
                                            <li><a href="#">Guild Wars</a></li>
                                            <li><a href="#">Halo</a></li>
                                            <li><a href="#">Half Life</a></li>
                                            <li><a href="#">Handheld Devices</a></li>
                                            <li><a href="#">Hitman</a></li>
                                            <li><a href="#">Kingdom Hearts</a></li>
                                            <li><a href="#">Mario</a></li>
                                            <li><a href="#">Max Payne</a></li>
                                            <li><a href="#">MDK</a></li>
                                            <li><a href="#">Megaman</a></li>
                                            <li><a href="#">Metal Gear Solid</a></li>
                                            <li><a href="#">Metroid</a></li>
                                            <li><a href="#">Mortal Kombat</a></li>
                                            <li><a href="#">Nintendo Console</a></li>
                                            <li><a href="#">Parasite Eve</a></li>
                                            <li><a href="#">Playstation Console</a></li>
                                            <li><a href="#">Quake</a></li>
                                            <li><a href="#">Ragnarok Online</a></li>
                                            <li><a href="#">Resident Evil</a></li>
                                            <li><a href="#">Sonic</a></li>
                                            <li><a href="#">Soul Calibur</a></li>
                                            <li><a href="#">Starcraft</a></li>
                                            <li><a href="#">Star Wars</a></li>
                                            <li><a href="#">Street Fighter</a></li>
                                            <li><a href="#">Team Fortress</a></li>
                                            <li><a href="#">Tekken</a></li>
                                            <li><a href="#">The Sims</a></li>
                                            <li><a href="#">Theif</a></li>
                                            <li><a href="#">Tomb Raider</a></li>
                                            <li><a href="#">Unreal Tournament</a></li>
                                            <li><a href="#">Warcraft Series</a></li>
                                            <li><a href="#">World of Warcraft</a></li>
                                            <li><a href="#">XBox</a></li>
                                            <li><a href="#">Zelda</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.grid-item -->
                        </div>
                    </div><!--/.search-content-->
                </div>
                <!--/.body-content-->
                <div class="right-sidebar">
                    <div class="widget">
                        <a href="#" class="join-desktopnexus">
                            <div class="mascot-figure">
                                <div id="circular" class="eyes">
                                    <div class="left_eye">
                                        <div class="pupil"></div>
                                    </div>
                                    <div class="right_eye">
                                        <div class="pupil"></div>
                                    </div>
                                    <div class="lip"></div>
                                </div>
                            </div>
                            <div class="join-txt">
                                <h4>Join Desktop Nexus!</h4>
                                <ul>
                                    <li>Aenean aliquet lecus</li>
                                    <li>Duis eget sceleris</li>
                                    <li>Morbi mattis auctor</li>
                                    <li>Phasellus usto</li>
                                </ul>
                            </div>
                            <div class="join-footer">
                                <span class="bullet"><i class="fa fa-angle-right"></i></span> Join for <strong>Free!</strong>
                            </div>
                        </a>
                    </div>
                	<div class="widget">
                    	<div class="poster-block poster-300x250">
                        	<a href="#" target="_blank"><img src="assets/images/poster-sidebar-03.jpg" alt=""></a>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="sidebar-tag-cloud">
                            <h3 class="title">Popular Tag Cloud</h3>
                            <div class="clouds">
                                <a href="#" class="font-18">bird</a>
                                <a href="#" class="font-16">dogs</a>
                                <a href="#" class="font-16">tree</a>
                                <a href="#" class="font-16">Picture</a>
                                <a href="#" class="font-20">horses</a>
                                <a href="#" class="font-16">green</a>
                                <a href="#" class="font-16">beauty </a>
                                <a href="#" class="font-24">beautiful</a>
                                <a href="#" class="font-16">red</a>
                                <a href="#" class="font-16">pet</a>
                                <a href="#" class="font-16">lovely</a>
                                <a href="#" class="font-20">snow</a>
                                <a href="#" class="font-16">kitty</a>
                                <a href="#" class="font-16">winter</a>
                                <a href="#" class="font-19">cat</a>
                                <a href="#" class="font-16">pretty</a>
                                <a href="#" class="font-16">paws</a>
                                <a href="#" class="font-20">animals</a>
                                <a href="#" class="font-16">face</a>
                                <a href="#" class="font-16">wolves</a>
                                <a href="#" class="font-16">puppy</a>
                                <a href="#" class="font-16">cool</a>
                                <a href="#" class="font-16">hat</a>
                                <a href="#" class="font-20">Kitten</a>
                                <a href="#" class="font-16">leeping</a>
                                <a href="#" class="font-22">cute</a>
                                <a href="#" class="font-22">dog</a>
                                <a href="#" class="font-16">cat</a>
                                <a href="#" class="font-16">face</a>
                                <a href="#" class="font-16">flower</a>
                                <a href="#" class="font-17">Photography</a>
                                <a href="#" class="font-17">butterfly</a>
                                <a href="#" class="font-16">birds</a>
                                <a href="#" class="font-16">flowers</a>
                                <a href="#" class="font-16">horse</a>
                                <a href="#" class="font-30">animal</a>
                                <a href="#" class="font-16">feline</a>
                                <a href="#" class="font-16">sweet</a>
                                <a href="#" class="font-16">funny</a>
                                <a href="#" class="font-22">wolf</a>
                                <a href="#" class="font-16">blue</a>
                                <a href="#" class="font-16">grass</a>
                                <a href="#" class="font-16">sleepy</a>
                                <a href="#" class="font-16">water</a>
                                <a href="#" class="font-20">Cats</a>
                                <a href="#" class="font-16">adorable</a>
                                <a href="#" class="font-18">White</a>
                                <a href="#" class="font-16">wild</a>
                                <a href="#" class="font-20">wildlife</a>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                    	<div class="poster-block poster-300x600">
                        	<a href="#" target="_blank"><img src="assets/images/poster-sidebar-02.jpg" alt=""></a>
                        </div>
                    </div>
                    
                    
                </div>
                <!--/.right-sidebar-->
            </div>
        </div>
    </div>
    <!--/.main-container-->
    
