    <div class="main-container">
   		<div class="container">
        	<div class="page-wrapper clearfix">
            	<div class="body-content">
                	<div class="content-poster-block">
                    	<a href="#" target="_blank"><img src="assets/images/poster-rect-01.jpg" alt=""></a>
                    </div>
                    <!--/.poster-block-->
                    
                    <div class="wallpaper-block">
                    	<h1 class="pic-title">Merry Christmas</h1>
                        <div class="pic-frame-outer">
                        	<div class="pic-share-toolbar">
                               <div class="edit-pic">
                                    <a href="#" data-toggle="modal" data-target="#EditPic"><i class="fa fa-pencil"></i> <span>Edit</span></a>
                                </div>
                            	<ul class="clearfix">
                                	<li class="fb-like full-width">
                                    	<a href="#"><i class="fa fa-thumbs-o-up"></i> <span>Like</span></a>
                                    </li>
                                    <!-- <li class="fav-share full-width">
                                        <a href="#" class="add-fav-trigger"><i class="fa fa-heart"></i> <span>Fav.</span></a>
                                    </li> -->
                                    <li class="fav-share full-width">
                                        <a href="javascript:void(0)" data-placement="right" data-container="body" data-title="Add to Favorites" class="trigger-tree"><i class="fa fa-heart"></i> <span>Fav.</span></a>
                                    </li>
                                    <li class="email-share full-width">
                                        <a href="#" data-toggle="modal" data-target="#shareDesktopNexus"><i class="fa fa-envelope-o"></i> <span>Email</span></a>
                                    </li>
                                    <li class="tw-share">
                                    	<a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="fb-share">
                                    	<a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="pin-share">
                                    	<a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li class="stumb-share">
                                    	<a href="#"><i class="fa fa-stumbleupon"></i></a>
                                    </li>
                                </ul>
                                <a href="#" class="report-bug" data-toggle="modal" data-target="#ReportPic"><i class="fa fa-flag-o"></i> Report</a>
                            </div>
                        	<div class="pic-frame">
                                <a href="#" data-toggle="modal" data-target="#DownloadBox"><img src="assets/images/christmas-wallpaper.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="pic-meta-toolbar">
                            <ul class="clearfix">
                                <li>
                                	<span class="meta-info link-fb">
                                	    <a href="#"><i class="fa fa-thumbs-o-up"></i> 495</a>
                                	</span>
                                </li>
                                <li>
                                    <span class="meta-info link-fav">
                                        <a href="javascript:void(0)" data-placement="bottom" data-container="body" data-title="Add to Favorites" class="trigger-tree"><i class="fa fa-heart"></i> 247</a>
                                    </span>
                                </li>
                                <li>
                                	<span class="meta-info link-share">
                                	    <a href="#" data-toggle="modal" data-target="#shareDesktopNexus"><i class="fa fa-share-alt"></i> 183</a>
                                	</span>
                                </li>
                                <li class="download-btn-cont">
                                	<span class="download-counter">129,402</span>
                                	<a href="#" class="btn btn-success btn-lg download-btn" data-toggle="modal" data-target="#DownloadBox">Free Download</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.wallpaper-block-->
                    
                    <div class="content-poster-block">
                    	<a href="#" target="_blank"><img src="assets/images/poster-rect-02.jpg" alt=""></a>
                    </div>
                    <!--/.poster-block-->
                    
                    <div class="comment-section">
                    	<div class="cmt-box bd_parent">
                        	<h3 class="cmt-heading">Write Comment</h3>
                            <div class="form-group">
                            	<span class="cmt-counter"><span id="cmt-counter">0</span>/500</span>
                            	
                            	<div class="st-txtbox">
                                    <span class="cmt-attached-sticker">
                                        <span class="st-img"></span>
                                        <span class="st-clear" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times-circle"></i></span>
                                    </span>
                           		    <textarea id="cmt-field" class="form-control bd_textarea" rows="2" maxlength="500" placeholder="Leave a comment..."></textarea>
                           		</div>
                            </div>
                            <div class="cmt-btns">
                            	<div class="row">
                                	<div class="col-xs-6 col-md-12 col-lg-6">
                                    	<div class="custom-checkbox noselect">
                                          <input id="fb-check" name="check" value="" checked="" type="checkbox">
                                          <label for="fb-check"><i class="fa fa-facebook-square"></i><span>Facebook</span></label>
                                        </div>
                                        <div class="custom-checkbox noselect">
                                          <input id="tw-check" name="check" value="" type="checkbox">
                                            <label for="tw-check"><i class="fa fa-twitter-square"></i><span>Twitter</span></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-12 col-lg-6">
                                    	<div class="row">
                                        	<div class="col-xs-3 col-sm-4 col-md-7">
                                            	<a class="attach-sticker noselect" data-toggle="modal" data-target="#AttachSticker"><span class="icon-holder"></span> Attach a Sticker</a>
                                            </div>
                                            <div class="col-xs-9 col-sm-8 col-md-5">
                                            	<button type="submit" class="btn btn-primary btn-block btn-lg">Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <ol class="cmt-list">
                        	<li>
                                <div class="get-cmt">
                                	<div class="cmt-author imageFit">
                                    	<a href="#"><img src="assets/images/user-05.jpg" alt=""></a>
                                    </div>
                                    <div class="cmt-block clearfix uploader-cmt">
                                    	<div class="cmt-header clearfix">
                                        	<div class="cmt-author-info">
                                                <span class="cmt-name">NorthHero said:</span>
                                                <span class="uploader-tag">Uploader</span>
                                            </div>
                                            <div class="cmt-meta">
                                            	<span class="cmt-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                                <a href="#" class="cmt-link"><i class="fa fa-link"></i></a>
                                                <button type="button" class="btn btn-primary btn-cmt-reply">Reply</button>
                                            </div>
                                        </div>
                                        <div class="cmt-body">
                                        	<p>Cras vel diam ex. Proin ex mi,enenatis sit amet cond Fmentum sit. Amet porttitor nec massa. Quisque nec congue condimentum tellus.non egestas sem.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="cmt-reply-list">
                                	<li>
                                        <div class="get-cmt">
                                            <div class="cmt-author imageFit">
                                                <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                            </div>
                                            <div class="cmt-block clearfix">
                                                <div class="cmt-header clearfix">
                                        	<div class="cmt-author-info">
                                                <span class="cmt-name">Stupid Monkey said:</span>
                                            </div>
                                            <div class="cmt-meta">
                                            	<span class="cmt-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                                    <a href="#" class="cmt-link"><i class="fa fa-link"></i></a>
                                                    <button type="button" class="btn btn-primary btn-cmt-reply">Reply</button>
                                                </div>
                                            </div>
                                                <div class="cmt-body">
                                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="get-cmt">
                                	<div class="cmt-author imageFit">
                                    	<a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                    </div>
                                    <div class="cmt-block clearfix">
                                        <div class="cmt-sticker">
                                            <img src="assets/images/cmt-stcker-01.png" alt="">
                                        </div>
                                    	<div class="cmt-header clearfix">
                                        	<div class="cmt-author-info">
                                                <span class="cmt-name">Stupid Monkey said:</span>
                                            </div>
                                            <div class="cmt-meta">
                                            	<span class="cmt-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                                <a href="#" class="cmt-link"><i class="fa fa-link"></i></a>
                                                <button type="button" class="btn btn-primary btn-cmt-reply">Reply</button>
                                            </div>
                                        </div>
                                        <div class="cmt-body">
                                        	<p>Amet porttitor nec massa. Quisque nec congue condimentum tellus.non egestas sem.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <a href="#" class="cmt-load-more">Load More</a>
                        
                    </div>
                    <!--/.comment-section-->
                    
                    <div class="popular-listing-rows">
                    	<div class="listing-row">
                        	<h4 class="list-heading">Popular in Travel</h4>
                            <div class="list-blocks-wrapper">
                            	<div class="list-block">
                                    <ul class="popu-list-1">
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-01.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-19.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-03.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-04.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-05.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-07.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="see-more"><i class="fa fa-picture-o"></i> <span>See More</span></a>
                            </div>
                        </div>
                        <!--/.listing-row-->
                        <div class="listing-row">
                        	<h4 class="list-heading">Popular in Sunset From Around The World</h4>
                            <div class="list-blocks-wrapper">
                            	<div class="list-block">
                                    <ul class="popu-list-2">
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-17.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-18.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-06.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-19.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-05.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                        <li>
                                        	<div class="list-thumb imageFit">
                                            	<a href="#"><img src="assets/images/wallpaper-03.jpg" alt=""></a>
                                            </div>
                                            <p class="list-title">Tokyo Travel Guide</p>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="see-more"><i class="fa fa-picture-o"></i> <span>See More</span></a>
                            </div>
                        </div>
                    </div>
                    <!--/.popular-listing-rows-->
                    
                    <div class="content-poster-block" style="margin-bottom:0">
                    	<a href="#" target="_blank"><img src="assets/images/poster-rect-03.jpg" alt=""></a>
                    </div>
                    <!--/.poster-block-->
                    
                </div>
                <!--/.body-content-->
                <div class="right-sidebar">
                	<div class="widget">
                    	<div class="poster-block poster-300x250">
                        	<a href="#" target="_blank"><img src="assets/images/poster-sidebar-01.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="widget">
                    	<div class="love-tip">
                        	<a href="#" class="tip-block" data-toggle="modal" data-target="#TipBox">
                            	<span class="tip-icon"></span>
                            	<span class="tip-heading">Love this image?</span>
                                <span class="sub-heading">Send a gift to show gratitude!</span>
                            </a>
                        </div>
                    </div>
                    <!--/Widget .love-tip-->
                    
                    <div class="widget">
                    	<div class="profile-block">
                        	<div class="pf-block-header">
                            	<div class="pf-upload-pic imageFit">
                                	<a href="#"><img src="assets/images/wallpaper-09.jpg" alt=""></a>
                                </div>
                                <div class="pf-upload-info clearfix">
                                	<strong class="pull-left">Uploaded By</strong>
                                    <span class="pull-right up-time"><i class="fa fa-clock-o"></i> 12 Days Ago</span>
                                </div>
                            </div>
                            <div class="pf-block-body">
                            	<div class="pf-user-info clearfix">
                                	<div class="user-thumb imageFit"><a href="#"><img src="assets/images/user-05.jpg" alt=""></a></div>
                                    <div class="pf-btn-cont">
                                        <h3 class="pf-name"><a href="#">NorthHero98</a></h3>
                                        <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-plus"></i></span> Follow</button>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#UserMessageBox"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pf-block-footer">
                            	<ul class="clearfix">
                                	<li>
                                    	<div class="user-status pf-level">
                                            <div class="icon-holder"></div>
                                            <div class="counter">05</div> <span>Level</span>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="user-status pf-sticker">
                                            <div class="icon-holder"></div>
                                            <div class="counter">12</div> <span>Stickers</span>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="user-status pf-achieve">
                                            <div class="icon-holder"></div>
                                            <div class="counter">09</div> <span>Achievements</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/Widget .profile-block-->
                    
                    <div class="widget">
                    	<h3 class="widget-title">Wallpaper Groups</h3>
                    	<div class="wallpaper-group">
                        	<ul class="clearfix">
                            	<li>
                                	<div class="pic-block">
                                    	<div class="pic-thumb imageFit">
                                        	<a href="#"><img src="assets/images/wallpaper-14.jpg" alt=""></a>
                                        </div>
                                        <h6 class="pic-title">XMAS and NEW YEAR</h6>
                                    </div>
                                </li>
                                <li>
                                	<div class="pic-block">
                                    	<div class="pic-thumb imageFit">
                                        	<a href="#"><img src="assets/images/wallpaper-13.jpg" alt=""></a>
                                        </div>
                                        <h6 class="pic-title">Santa's Pick Up Truck</h6>
                                    </div>
                                </li>
                                <li>
                                	<div class="pic-block">
                                    	<div class="pic-thumb imageFit">
                                        	<a href="#"><img src="assets/images/wallpaper-12.jpg" alt=""></a>
                                        </div>
                                        <h6 class="pic-title">Christmas Robin</h6>
                                    </div>
                                </li>
                                <li>
                                	<div class="pic-block">
                                    	<div class="pic-thumb imageFit">
                                        	<a href="#"><img src="assets/images/wallpaper-11.jpg" alt=""></a>
                                        </div>
                                        <h6 class="pic-title">Bullfinches</h6>
                                    </div>
                                </li>
                                <li>
                                	<div class="pic-block">
                                    	<div class="pic-thumb imageFit">
                                        	<a href="#"><img src="assets/images/wallpaper-09.jpg" alt=""></a>
                                        </div>
                                        <h6 class="pic-title">Jingle Bells</h6>
                                    </div>
                                </li>
                                <li>
                                	<div class="pic-block">
                                    	<div class="pic-thumb imageFit">
                                        	<a href="#"><img src="assets/images/wallpaper-16.jpg" alt=""></a>
                                        </div>
                                        <h6 class="pic-title">Cozy of Christmas</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/Widget .wallpaper-group-->
                    
                    <div class="widget">
                    	<div class="poster-block poster-300x600">
                        	<a href="#" target="_blank"><img src="assets/images/poster-sidebar-02.jpg" alt=""></a>
                        </div>
                    </div>
                    
                    <div class="widget">
                    	<h3 class="widget-title">Tags</h3>
                    	<div class="tags-list">
                        	<ul class="clearfix">
                            	<li><a href="#">Christmas</a></li>
                                <li><a href="#">Snow</a></li>
                                <li><a href="#">Landscape</a></li>
                                <li><a href="#">Merry christmas</a></li>
                                <li><a href="#">Christmas ball</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/Widget .wallpaper-group-->
                    
                    <div class="widget">
                    	<div class="pic-data-table">
                        	<ul class="clearfix">
                            	<li><strong>Orig. Size</strong></li>
                                <li><strong>Orig. Readtime</strong></li>
                                <li><span>5.6 MB</span></li>
                                <li><span>1920 X 1080</span></li>
                            </ul>
                        </div>
                    </div>
                    <!--/Widget .pic-data-table-->
                    
                </div>
                <!--/.right-sidebar-->
            </div>
        </div>
    </div>
    <!--/.main-container-->