<div class="main-container">
      <div class="setting-wrapper">
        <div class="settings-header">
            <div class="settings-banner imageFit">
                <img src="assets/images/admin-banner.jpg" alt="">
            </div>
            <div class="change-banner-btn"><span>Change Banner</span> <i class="fa fa-camera"></i></div>
            <div class="admin-thumb imageFit">
              <img src="assets/images/user-06.jpg" alt="">
              <span class="change-thumb-btn"><i class="fa fa-camera"></i> Update Picture</span>
            </div>
            <h3 class="adn">Cristina Griffith</h3>
        </div>
   		  <div class="container">
        	<div class="page-wrapper clearfix">
                <div class="left-sidebar">
                    <div class="setting-nav">
                        <h6>My Account</h6>
                        <ul>
                            <li class="active"><a href="general-settings.html"><i class="fa fa-cog"></i> General Settings</a></li>
                            <li><a href="change-password.html"><i class="fa fa-key"></i> Change Password</a></li>
                            <li><a href="social-accounts.html"><i class="fa fa-share-alt"></i> Social Accounts</a></li>
                            <li><a href="email-noti.html"><i class="fa fa-envelope"></i> Email Notifications</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.left-sidebar-->
                <router-outlet name='outlet1'></router-outlet>
            </div>
        </div>
      </div>
      <!-- /.setting-wrapper -->
    </div>
    <!--/.main-container-->